body {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
    background-color: gray;
}

.nav {
    background-color: #bdaaae;
    padding: 12px;
    padding-left: 10px;
}

.buttons {
    padding: 12px;
}

.body {
    display: grid;
    background-color: white;
    padding: 5px;
    gap: 5px;
    grid-template-columns: repeat(5, 250px);
    grid-template-areas:
        "pic1 pic1 pic1 pic1 pic2"
        "pic1 pic1 pic1 pic1 pic3"
        "pic4 pic4 pic5 pic6 pic7"
        "pic8 pic9 pic9 pic10 pic11"
        "pic8 pic9 pic9 pic10 pic11"
        "pic8 pic13 pic14 pic14 pic15"
        "pic8 pic13 pic16 pic17 pic18"
        "pic19 pic20 pic20 . pic21"
}

.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

.pic4 {
    grid-area: pic4;
}

.pic5 {
    grid-area: pic5;
}

.pic6 {
    grid-area: pic6;
}

.pic7 {
    grid-area: pic7;
}

.pic8 {
    grid-area: pic8;
}

.pic9 {
    grid-area: pic9;
}

.pic10 {
    grid-area: pic10;
}

.pic11 {
    grid-area: pic11;
}

.pic13 {
    grid-area: pic13;
}

.pic14 {
    grid-area: pic14;
}

.pic15 {
    grid-area: pic15;
}

.pic16 {
    grid-area: pic16;
}

.pic17 {
    grid-area: pic17;
}

.pic18 {
    grid-area: pic18;
}

.pic19 {
    grid-area: pic19;
}

.pic20 {
    grid-area: pic20;
}

.pic21 {
    grid-area: pic21;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.location {
    color: #b3a29f;
}